!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
    / Import Google Icon Font
    %link{href: 'http://fonts.googleapis.com/icon?family=Material+Icons', rel: 'stylesheet'}
    %link{href: 'https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css', rel: 'stylesheet'}
    / Import materialize.css
    %link{href: "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css", media: 'screen,projection', rel: 'stylesheet', type: 'text/css'}
    / Let browser know website is optimized for mobile
    %meta{content: 'width=device-width, initial-scale=1.0', name: 'viewport'}
    / Import jQuery before materialize.js
    %script{src: 'https://code.jquery.com/jquery-2.1.1.min.js', type: 'text/javascript'}
    = javascript_include_tag 'message-bus'
    :css
      .input-field > input[type=url]:focus:not([readonly]) {
        border-bottom: 1px solid black;
        box-shadow: 0 1px 0 0 black;
      }
      body {
        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0;
        display: flex;
        flex-direction: column;
      }
      main { height: 75%; }
      .bottom-spacer { flex: 1; }
      .backdrop { background-color: black; }
      .material-tooltip { color: white; }

  %body.white
    %main.valign-wrapper
      .container.valign
        %h1
          %strong
            = link_to 'ficrip', 'https://github.com/toroidal-code/ficrip', class: 'black-text'
        %h5.thin.black-text n. an opinionated fanfiction.net downloader
        = yield
    .bottom-spacer
    %footer.page-footer.white
      .footer-copyright.white
        .container.center-align
          = link_to 'by katherine whitlock', 'https://github.com/toroidal-code', class: 'grey-text'
    %script{src: 'https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js', type: 'text/javascript'}
