.row.black-text
  br
  .progress.grey.lighten-3
    #progress.determinate.black style='width: 0%'

- content_for :js do
  = javascript_include_tag 'eventsource.min'
  javascript:
    var urlParams = null;
    (window.onpopstate = function () {
      var match,
          pl     = /\+/g,  // Regex for replacing addition symbol with a space
          search = /([^&=]+)=?([^&]*)/g,
          decode = function (s) { return decodeURIComponent(s.replace(pl, " ")); },
          query  = window.location.search.substring(1);

      urlParams = {};
      while (match = search.exec(query))
        urlParams[decode(match[1])] = decode(match[2]);
    })();

    var matched = (/fanfiction.net\/s\/(\d+)/i).exec(urlParams.url);
    var storyid = urlParams.storyid || function () { if (matched) return matched[1];}();
    console.log(storyid);

    $(document).ready(function () {
      $.fn.exists = function () { return this.length !== 0;  };

      // Connect to the server
      var es = new EventSource('/generate' + '?' + $.param({ storyid: storyid }));

      // Report an error
      es.addEventListener('error', function (e) {
        $('#content').fadeOut(1000, function() {
          $('#content').replaceWith('<div id="content" style="display: none">' + e.data + '</div>');
          $('#content').fadeIn(2000);
        });
      });

      // Update progressbar
      es.addEventListener('progress', function (e) {
        if (e.data === 'null') {
          $('#progress').removeClass('determinate').addClass('indeterminate');
        } else if ( $('.indeterminate').exists() ) {
          $('#progress').removeClass('indeterminate').addClass('determinate').css('width', e.data);
        } else {
          $('#progress').css('width', e.data);
        }
      });

      // Navigate to new URL
      es.addEventListener('url', function (e) { console.log(e.data); window.location = e.data; });

      // Close the connection
      es.addEventListener('close', function (e) { if (e.data === 'true') es.close(); });

      // Update the page with the title/author info
      es.addEventListener('info', function (e) {
        var info = $.parseJSON(e.data);
        $('#title').add('#subtitle').fadeOut(1000, function () {
          $('#title').replaceWith('<span id="title" style="display: none">' + info.title + '</span>');
          $('#subtitle').replaceWith('<span id="subtitle" style="display: none">by ' + info.author + '</span>');
          $('#title').add('#subtitle').fadeIn(2000);
        });
      });
    });