body {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  display: flex;
  flex-direction: column;
}

main { height: 75%; }

.bottom-spacer { flex: 1; }

a { color: black; }

#imglink { padding-top: 40px; }

input[type=url]:focus:not([readonly]),
input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid black;
  box-shadow: 0 1px 0 0 black;
}

.backdrop { background-color: black; }
.material-tooltip { color: white; }
.dropdown-content li>span { color: #000; }

input[type=text].valid{
  border-bottom: 1px solid black;
  box-shadow: 0 1px 0 0 black;
}
